.gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.gallery-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden; 
    scroll-snap-type: x mandatory;
    gap: 10px;
    transition: transform 0.5s ease-in-out; 
}

.gallery-item {
    flex: 0 0 calc(33.33% - 10px); 
    scroll-snap-align: center;
}

.gallery-item img {
    width: 100%;
    height: 300px;
    object-fit:fill;
    border-radius: 8px;
}


.gallery-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.gallery-controls button {
    border: none;
    color: rgb(4, 4, 4);
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 5px;
    transition: 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.gallery-controls button:hover {
    color:blue;
}
