.container {
    margin-top: 50px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text-center {
    color:#323233;
  }

  .property-card {
    background-color: #f8f9fa;
    padding: 30px; /* Reduce padding */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding-bottom: 50px;
    width: 100%; /* Ensures all cards are the same width */
    max-width: 300px; /* Set a max width */
    height: 400px; /* Fix the height */
    overflow: hidden; /* Prevents overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Ensures even spacing inside the card */
}

.property-description {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-height: 60px; 
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
  
  .property-card:hover {
    transform: scale(1.05);
  }
  
  .property-image img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .property-type {
    font-size: 16px;
    font-weight: bold;
    color: #323233;
    margin-bottom: 5px;
  }
  
  .property-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #6c757d;
  }
  
  .property-description {
    font-size: 16px;
    color: #6c757d;
  }
  
  .imageset {
    height: 300px;
    width: 300px;
  }