<div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="header-text-box pad-3 pt-5">
          <div class="text-left">
            <div class="header-text mb-3">
            <p class="color-text1 text-left">
                <span class="color-text3 mb-large text-header">Bamboo Hills Residences FACILITIES</span>
            </p>  

              <h1 class="color-text1 text-left">
                <span class="color-text3 mb-large text-header">Facilities That Redefine Urban Comfort</span>
              </h1>
            </div>
            <div class="header-sub-text">
              <p class="color-text3 mb-2 text-normal " style="padding-left: 0 !important;">
                At Bamboo Hills, every detail is designed with your comfort in mind. Explore a range of modern facilities, including a fully equipped yoga studio, EV charging stations, sustainable rainwater systems, and energy-efficient lighting. From advanced security systems to eco-conscious living, Bamboo Hills sets a new standard in residential excellence.
              </p>  
            </div>
            <div class="center-text">
              <a class="btn btn-default btn-custom-primary btn-margin" style="margin-top: 50px;" title="VIEW FACILITIES">
                VIEW FACILITIES
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  