<main [ngStyle]="{'background-image': backgroundImage, 'background-size': 'cover', 'background-position': 'center'}">
    <app-header></app-header> 
    
    <section id="home">
      <app-home></app-home>
    </section>

    <div class="shared-bg">
        <section id="locations">
          <app-location></app-location>
        </section>
    
        <section id="features">
          <app-features></app-features>
        </section>
      </div>
  
    <section id="gallery">
      <app-gallery></app-gallery>
    </section>
  
    <section id="facilities">
      <app-facilities></app-facilities>
    </section>
  
    <section id="layout-plan">
      <app-layout-plan></app-layout-plan>
    </section>
  
    <section id="residence">
      <app-residence></app-residence>
    </section>
  
    <section id="contact">
      <app-contact></app-contact>
    </section>
    
  </main>
  