<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#home">HOME</a></li>
      <li class="nav-item"><a href="#location">LOCATION</a></li>
      <li class="nav-item"><a href="#features">FEATURES</a></li>
      <li class="nav-item"><a href="#gallery">GALLERY</a></li>
      <li class="nav-item"><a href="#facilities">FACILITIES</a></li>
      <li class="nav-item"><a href="#layout-plan">LAYOUT PLAN</a></li>
      <li class="nav-item"><a href="#residence">RESIDENCES</a></li>
      <li class="nav-item"><a href="#contact">CONTACT US</a></li>
    </ul>
  </nav>
  